# maximal read length 
max_rd_len=100 


[LIB]
# in which part(s) the reads are used
asm_flags=3

# use only first 50 bps of each read

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=3

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32  
# average insert size
avg_ins=400

# fastq file for read 1 
q1=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819794.trim_1P.fastq.gz 

# fastq file for read 2 always follows fastq file for read 1
q2=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819794.trim_2P.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819794.trim_1U.fastq.gz

# fastq file for single reads 
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819794.trim_2U.fastq.gz

[LIB]
# in which part(s) the reads are used
asm_flags=3

# use only first 50 bps of each read

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=3

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32  
# average insert size
avg_ins=800
reverse_seq=0

# fastq file for read 1
q1=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819795.trim_1P.fastq.gz

# fastq file for read 2 always follows fastq file for read 1
q2=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819795.trim_2P.fastq.gz

# fastq file for single reads                               
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819795.trim_1U.fastq.gz

# fastq file for single reads                               
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819795.trim_2U.fastq.gz

[LIB]
# in which part(s) the reads are used
asm_flags=2

# use only first 50 bps of each read

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=5

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32  
# average insert size
avg_ins=9000
reverse_seq=1

# fastq file for read 1
q1=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819796.trim_1P.fastq.gz

# fastq file for read 2 always follows fastq file for read 1
q2=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819796.trim_2P.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819796.trim_1U.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819796.trim_2U.fastq.gz

[LIB]
# in which part(s) the reads are used
asm_flags=3

# use only first 50 bps of each read

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=3

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32  
# average insert size
avg_ins=175
reverse_seq=0

# fastq file for read 1
q1=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819797.trim_1P.fastq.gz

# fastq file for read 2 always follows fastq file for read 1
q2=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819797.trim_2P.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819797.trim_1U.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819797.trim_2U.fastq.gz

[LIB]
# in which part(s) the reads are used
asm_flags=2

# use only first 50 bps of each read

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=5

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32  
# average insert size
avg_ins=3000
reverse_seq=1

# fastq file for read 1
q1=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819798.trim_1P.fastq.gz

# fastq file for read 2 always follows fastq file for read 1
q2=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819798.trim_2P.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819798.trim_1U.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819798.trim_2U.fastq.gz

[LIB]
# in which part(s) the reads are used
asm_flags=2

# use only first 50 bps of each read

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=5

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32  
# average insert size
avg_ins=5500
reverse_seq=1

# fastq file for read 1
q1=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819799.trim_1P.fastq.gz

# fastq file for read 2 always follows fastq file for read 1
q2=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819799.trim_2P.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819799.trim_1U.fastq.gz

# fastq file for single reads
q=/home/annahi/genome_analysis/raw_data/sel2/wgs_data/sel2_SRR5819799.trim_2U.fastq.gz 
